@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

$blue: #0077b6;
$lightblue: #b7c3f3;
$purple: #5d2e8c;
$orange: #f46036;
$black: #030303;
$white: #fafafa;

$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;
$bungee: 'Bungee', sans-serif;